.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

#root {
padding: 70px;
background-color: #000000;
}

#root h1 {
font-size: 100px;
font-family: sans-serif;
color: #0050aa;
}

.button_container {
  margin-top: 200px;
  text-align: center;}

  .button {
  background-color: #FFD700;
  border: none;
  color: black;
  font-size: 24px;
  height: 80px;
  width: 120px;}

.id{
  color: white;
  text-align: center;
}